.Logo{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(239, 123, 7);
    background: #fdfdf8;
    padding: 2px 10px;
    width: 150px;
    text-align: center;
}